.card {
  width: 100vw;
  height: 150px;
  padding: 10px 20px;
  border-bottom: 2px dashed #393065;
}

.card-item {
  width: 50%;
}

.card-image {
  width: 150px;
  margin-right: 10px;
}

.card-shortForecast {
  color: #7567b8;
}

.card-button {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  box-shadow: 1px 0px 11px 7px #459de0;
}

.card-description {
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
}

.day {
  background-color: #4cacf6;
}

.night {
  background-color: #1c4059;
}
